<h2>New Coffee</h2>

<form method="POST" action="/coffees">
  <label>Coffee name:</label>
  <input type="text" name="name" id="coffee[name]">
  <br>
  <label>Add to list:</label>
  <select name="coffee_list_id" id="coffee[coffee_list_id]">
  <% @list_options = current_user.coffee_lists.all %>
  <% @list_options.each do |list| %>
    <option value="<%= list.id %>"><%= list.list_name %></option>
  <%end%>
  </select>
  <br>
  <label for="prep_method">Preparation method:</label>
  <select name="prep_method" id="coffee[prep_method]">
    <option value="Espresso">Espresso</option>
    <option value="Pourover">Pourover</option>
    <option value="Drip">Drip</option>
    <option value="Other">Other</option>
  </select>
  <br>
  <label for="roast">Roast type:</label>
  <select name="roast" id="coffee[roast]">
    <option value="light">Light</option>
    <option value="medium">Medium</option>
    <option value="medium_dark">Medium Dark</option>
    <option value="dark">Dark</option>
  </select>
  <br>
  <label for="origin">Origin:</label>
  <input type="text" name="origin" id="coffee[origin]">
  <br>
  <label for="rating">Rating:</label>
  <select name="rating" id="coffee[rating]">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <br>
  <label for="notes">Notes:</label>
  <textarea name="notes" id="coffee[notes] rows="10" cols="30" placeholder="Notes on coffee, e.g., prep tips, recipes, ratios, etc."></textarea>
  <input type="submit" value="submit">
</form>