
<form method="POST" action="/coffeelists/<%= @coffeelist.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>List name:</label>
  <input type="text" name="list_name" id="coffeelist[list_name]" required>
  <input class="btn btn-success" type="submit" value="Save">
</form>