<h2> New List </h2>

<form method="POST" action="/coffeelists">
  <label>List name:</label>
  <input type="text" name="list_name" id="coffeelist[list_name]">
  <input type="submit" value="submit">
</form>