<h1>these are the coffee lists</h1>

<% @coffeelists.each do |list| %>
  <div>
    <a href='/coffeelists/<%=list.id%>'><%= list.list_name %></a>
    <ul>
      <li><a href=''>Edit list</a></li>
      <li><a href='/coffeelists/<%=list.id%>/delete'>Delete list</a></li>
    </ul>
  </div>
<% end %>