<h3>Your Coffee Lists</h3>

<% @coffeelists.each do |list| %>
    <div class="card m-auto" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title"><a href='/coffeelists/<%=list.id%>'><%= list.list_name %></a></h5>
      <p class="card-text">Let's put a description of the list here.</p>
      <div class="row">
        <div class="col">
          <form method="GET" action='/coffeelists/<%=list.id%>/edit'>
            <input class="btn btn-primary form-control btn-block" type="submit" name="submit" value="Edit list">
          </form>
        </div>
        <div class="col">
          <form method="POST" action='/coffeelists/<%=list.id%>/delete'>
            <input type="hidden" name="_method" value="DELETE">
            <input class="btn btn-danger form-control btn-block" type="submit" value="Delete list">
          </form>
        </div>
      </div>
    </div>
<% end %>