<h3>Your Coffee Lists</h3>

<% @coffeelists.each do |list| %>
  <div>
    <a href='/coffeelists/<%=list.id%>'><h6><%= list.list_name %></h6></a>
        <form method="GET" action='/coffeelists/<%=list.id%>/edit'>
          <input class="btn btn-success" type="submit" name="submit" value="Edit list">
        </form>
        <form method="POST" action='/coffeelists/<%=list.id%>/delete'>
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-danger" type="submit" value="Delete list">
        </form>
  </div>
  <br>
<% end %>