.main-layout-header {
    font-family: Karla;
    font-style: italic;
    color: #FFEE59;
    text-decoration: none;
  }

.main-layout-links {
    font-family: Karla;
    font-style: italic;
    color: #FFEE59;
    text-decoration: none;
  }

.login-field-username {
    position: absolute;
    left: 39.72%;
    right: 39.65%;
    top: 43.44%;
    bottom: 53.22%;
  }

  .login-field-password {
    position: absolute;
    left: 39.72%;
    right: 39.68%;
    top: 50.4%;
    bottom: 46.25%;
  }

  .login-field-submit {
    position: absolute;
    left: 39.72%;
    right: 39.65%;
    top: 57.44%;
  }

  .login-field-username-label {
    position: absolute;
    left: 39.72%;
    right: 50.69%;
    top: 41%;
    bottom: 57.33%;
    
    font-family: Karla;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .login-field-password-label {
    position: absolute;
    left: 39.72%;
    right: 50.9%;
    top: 47.89%;
    bottom: 50.44%;
    
    font-family: Karla;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .login-sign-up-button {
    position: absolute;
    left: 39.72%;
    right: 39.65%;
    top: 64.44%;
  }