.main-layout-header {
    font-family: Karla;
    font-style: italic;
    color: #FFEE59;
    text-decoration: none;
  }

.main-layout-links {
    font-family: Karla;
    font-style: italic;
    color: #FFEE59;
    text-decoration: none;
  }