<h1>Hello World</h1>
<p>This is the index page where logged in users can see their homepage</p>
<a href="/session">logout my dude</a>

<a href="/coffeelists">view lists</a>
<a href="/coffeelists/new">create new list</a>

