<h1>Hello World</h1>
<p>This is the index page where logged in users can see their homepage</p>
<a href="/session">logout my dude</a>

<h3>Coffee Lists Links</h3>
This is where the user's lists of coffees would display
<h3>Coffeeshop Lists Links</h3>
This is where the user's lists of coffeeshops would display

