<form method="POST" action="/session">
    <label>Username: </label>
    <input type="text" name="username" id="username" placeholder="username">
    <br>
    <label>Password: </label>
    <input type="password" name="password" id="password" placeholder="password">
    <br>
    <input class="btn btn-success" type="submit" value="Submit">
</form>
<h4>Need to create an account?</h4>
<a class="btn btn-info" href="/users/new">Sign up here.</a>