<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ESPRESSERHEAD</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/shards.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body class="login-page-bg">
    <header>
    </header>
    <div class="container-fluid">
    <div class="row h-50 p-5 justify-content-center align-items-center">
        <h1 class="login-view-main-header">ESPRESSERHEAD</h1>
    </div>
      <div class="row p-5 h-50 justify-content-center align-items-center">
        <div class="col-xs-5 align-self-center">
           <form method="POST" action="/session">
            <div class="form-group">
              <label class="login-field-label" for="username">USERNAME_</label>
              <input class="login-field-username form-control" type="text" name="username" id="username">
            </div>
            <div class="form-group">
              <label class="login-field-label" for="password">PASSWORD_</label>
              <input class="login-field-password form-control" type="password" name="password" id="password">
            </div>
            <div>
              <input class="btn btn-warning login-field-submit w-100" type="submit" value="SUBMIT">
            </div>
            <div>
              <a class="btn btn-primary login-sign-up-button w-100 mt-3" href="/users/new">SIGN UP</a>
            </div>
            </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <p class="login-p">even bad coffee is better than no coffee at all.</p>
      </div>
    </div>
  </body>
</html>
