<form method="POST" action="/session">
    <label class="login-field-username-label">USERNAME_</label>
    <input class="login-field-username" type="text" name="username" id="username">
    <label class="login-field-password-label">PASSWORD_</label>
    <input class="login-field-password" type="password" name="password" id="password" placeholder="password">
    <input class="btn btn-success login-field-submit" type="submit" value="SUBMIT">
</form>
<br>
<a class="btn btn-info login-sign-up-button" href="/users/new">SIGN UP</a>