<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ESPRESSERHEAD</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Karla:700i" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark navbar-expand{-sm|-md|-lg|-xl}">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><h1 class="main-layout-header">ESPRESSERHEAD</h1></a>
          </div>
          <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li><a class="main-layout-links" href="/session">LOGOUT</a></li>
            <li><a class="main-layout-links" href="/coffeelists">VIEW LISTS</a></li>
            <li><a class="main-layout-links" href="/coffeelists/new">NEW LIST</a></li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>