<!doctype html>
<html>
  <head>
    <title>ESPRESSERHEAD</title>
  </head>
  <body>
    <header>
      <h1>ESPRESSERHEAD</h1>
    </header>
    <% if logged_in? %>
    <nav>
      <li><a href="/session">logout my dude</a></li>
      <li><a href="/coffeelists">view lists</a></li>
      <li><a href="/coffeelists/new">create new list</a></li>
    </nav>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>